.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

#chat-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.message-container {
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message {
    background-color: #DCF8C6;
    float: right;
}

.bot-message {
    background-color: #EEE;
    float: left;
}

.input-container {
    display: flex;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
