<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTECO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>GPTECO</h1>
        <div id="chat-container"></div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Digite sua mensagem...">
            <button id="send-btn">Enviar</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const chatContainer = document.getElementById('chat-container');
            const userInput = document.getElementById('user-input');
            const sendBtn = document.getElementById('send-btn');

            sendBtn.addEventListener('click', sendMessage);
            userInput.addEventListener('keypress', function(e) {
                if (e.key === 'Enter') sendMessage();
            });

            function sendMessage() {
                const userMessage = userInput.value.trim();
                if (userMessage !== '') {
                    addMessage('user', userMessage);
                    userInput.value = '';
                    fetch('/chat', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        body: `user_message=${userMessage}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        addMessage('bot', data.bot_response);
                    });
                }
            }

            function addMessage(sender, message) {
                const messageElement = document.createElement('div');
                messageElement.classList.add('message', sender === 'user' ? 'user-message' : 'bot-message');
                messageElement.textContent = message;
                chatContainer.appendChild(messageElement);

                if (sender === 'bot') {
                    const feedbackContainer = document.createElement('div');
                    feedbackContainer.classList.add('feedback-container');

                    const likeBtn = document.createElement('button');
                    likeBtn.textContent = '👍';
                    likeBtn.addEventListener('click', function() {
                        sendFeedback(message, 'helpful');
                    }); 

                    const dislikeBtn = document.createElement('button');
                    dislikeBtn.textContent = '👎';
                    dislikeBtn.addEventListener('click', function() {
                        sendFeedback(message, 'not_helpful');
                    });

                    feedbackContainer.appendChild(likeBtn);
                    feedbackContainer.appendChild(dislikeBtn);
                    messageElement.appendChild(feedbackContainer);
                }

                chatContainer.appendChild(document.createElement('br')); // Add line break
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }

            function sendFeedback(message, feedback) {
                fetch('/feedback', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({ message: message, feedback: feedback })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Feedback enviado com sucesso.');
                    } else {
                        console.error('Erro ao enviar feedback:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Erro ao enviar feedback:', error);
                });
            }
        });
    </script>
</body>
</html>
